.card-header-image {
  background-image: url('/assets/images/drhesham.jpg');
  background-size: cover;
  width: 80px;
  /* Adjust width as desired */
  height: 80px;
  /* Adjust height as desired */
}



/* glass effect on the background */
.card-background {
  /*background: rgb(2 119 182 / 40%);*/
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.clinic-location {
  background: hsl(198.67deg 97.57% 48.43% / 65%);
  transform: scale(0.7);
}

.clinic-location .mat-icon {
  transform: scale(1.4);
}
