<h2 mat-dialog-title>New Appointment</h2>
<mat-dialog-content>


  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="flex flex-col">
    <!-- -------------------------Patient Name------------------------- -->
    <div class="patient-name flex items-center gap-3">
      <mat-form-field appearance="outline" class="grow mt-8">
        <mat-label>First Name</mat-label>
        <input type="text" matInput formControlName="firstName">        
      </mat-form-field>

      <mat-form-field appearance="outline" class="grow mt-8">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput formControlName="lastName">        
      </mat-form-field>
    </div>

      <mat-form-field appearance="outline" class="grow mt-8">
        <mat-label>Address</mat-label>
        <input type="text" matInput formControlName="address">        
      </mat-form-field>

    <div class="flex">
      <mat-form-field appearance="outline" class="grow mt-8">
        <mat-label>Primary Contact Number</mat-label>
        <input type="text" matInput formControlName="primaryContact">
      </mat-form-field>
      <mat-form-field appearance="outline" class="grow mt-8">
        <mat-label>Emergency Contact Number</mat-label>
        <input type="text" matInput formControlName="emergencyContact">
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field appearance="outline" class="grow mt-8">
        <mat-label>Reason For Visit</mat-label>
        <input type="text" matInput formControlName="reasonForVisit">
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field appearance="outline" class="grow mt-8">
        <mat-label>Allergies</mat-label>
        <input type="text" matInput formControlName="allergies">
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field appearance="outline" class="grow mt-8">
        <mat-label>Past Medical History (significant illnesses, surgeries)</mat-label>
        <input type="text" matInput formControlName="pastMedicalHistory">
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field appearance="outline" class="grow mt-8">
        <mat-label>Family Medical History</mat-label>
        <input type="text" matInput formControlName="familyMedicalHistory">
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Date of birth</mat-label>
      <input matInput [matDatepicker]="dp" formControlName="dateOfBirth">
      @if (!profileForm.get('dateOfBirth')?.valid) {
        <mat-hint>MMMM Do, YYYY</mat-hint>
      }
      <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>

    <div class="flex">
      <mat-form-field appearance="outline" class="grow mt-8">
        <mat-label>Social History (smoking, alcohol use, etc.)</mat-label>
        <input type="text" matInput formControlName="socialHistory">
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field appearance="outline" class="grow mt-8">
        <mat-label>Preferred Appointment Days & Times</mat-label>
        <input type="text" matInput formControlName="preferredAppointmentDaysAndTimes">
      </mat-form-field>
    </div>
    
    <div class="flex">

      <mat-checkbox formControlName="optInForDataSharing" labelPosition="before" color="`red`">Opt In for Data Sharing</mat-checkbox>

    </div>


    <div class="flex justify-center">
      <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid"
        class="w-28">Confirm</button>
    </div>

  </form>

</mat-dialog-content>
<!-- <mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</mat-dialog-actions> -->