<div class="menu-list">
  <div class="list-item">
      <button mat-icon-button aria-label="Add New Patient">
          <mat-icon>pending_actions</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-button color="primary">
          Schedule
      </button>
  </div>
  <mat-divider></mat-divider>
  <div class="list-item">
      <button mat-icon-button aria-label="Add New Patient">
          <mat-icon>person_add</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-button color="primary">
          New Patient
      </button>
  </div>
  <mat-divider></mat-divider>
  <div class="list-item">
      <button mat-icon-button aria-label="Add New Patient">
          <mat-icon>history</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-button color="primary">
          History
      </button>
  </div>
</div>