<div class="main-container">
  <!--<div class="list-item">
      <button mat-icon-button aria-label="Add New Patient">
          <mat-icon>person_add</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-button color="primary">
          New Patient
      </button>
  </div>-->
  <div class="mt-4 flex flex-col">
    <!--<a routerLink="" mat-button>Home</a>-->
    <a routerLink="/clinics" mat-button>Clinics</a>
    <a routerLink="/myclinics" mat-button>My Clinics</a>
    <!--<a routerLink="/edit_schedule" mat-button>Edit Schedule</a>
    <mat-divider></mat-divider>
    <a routerLink="/edit_schedule" mat-button>Edit Schedule</a>
    <a routerLink="/edit_schedule" mat-button>Edit Schedule</a>
    <a routerLink="/edit_schedule" mat-button>Edit Schedule</a>
<a routerLink="/edit_schedule" mat-button>Edit Schedule</a>-->
  </div>
</div>
