<div class="flex justify-center">
  <div class="flex-grow"></div>
  <div class="flex flex-col items-center rounded-2xl p-4 shadow-xl" style="background: linear-gradient(90deg, rgba(238,174,202,0.6) 0%, rgba(148,187,233,0.6) 100%);">
    <div class="day-title">
      {{day}}
    </div>
    <div class="flex">
      <div>{{hours}} :&#160;</div>
      <div>{{minutes}} :&#160;</div>
      <div>{{seconds}} :&#160;</div>
      <div class="ampm">{{ampm}}</div>
    </div>
  </div>
  <div class="flex-grow"></div>
</div>