<div class="flex flex-col">
  <mat-tab-group>
    <mat-tab label="Sign Up">
      <ng-template matTabContent><app-signup></app-signup></ng-template>
    </mat-tab>
    <mat-tab label="Sign In">
      <ng-template matTabContent><app-signin></app-signin></ng-template>
    </mat-tab>
  </mat-tab-group>
  <div class="text-center p-9" style="border-top: 1px solid hsl(0deg 0% 0% / 30%);">
    <div class="or-para-cont">
      <p class="or-para">or</p>
    </div>
    <button mat-stroked-button color="primary">
      <img src="assets/icons/google.png" alt="Google" width="24" height="24" class="align-middle">
      &#160;&#160;Sign in with <b>Google</b>
    </button>
  </div>
</div>
