<div class="p-4 pl-14">
  <button 
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]"
    (click)="goBack()">
    Back
  </button>

  

  <mat-tab-group>

    <mat-tab label="Main">
      <ng-template matTabContent>
        <div class="p-4">
          <div class="flex">
            <div class="w-1/5">
              <p class="text-gray-600">First Name</p>
              <p class="">{{ (patient$ | async)?.firstName }}</p>
            </div>
            <div>
              <p class="text-gray-600">Last Name</p>
              <p class="">{{ (patient$ | async)?.lastName }}</p>
            </div>
          </div>
          <hr class="w-9/12 my-4 mx-auto">
          <div>
            <p class="text-gray-600">Age</p>
            <p class="">{{ age }}</p>
          </div>
          <hr class="w-9/12 my-4 mx-auto">
          <div class="flex">
            <div class="w-1/5">
              <p class="text-gray-600">Primary Contact</p>
              <p class="">{{ (patient$ | async)?.primaryContact }}</p>
            </div>
            <div>
              <p class="text-gray-600">Emergency Contact</p>
              <p class="">{{ (patient$ | async)?.emergencyContact }}</p>
            </div>
            <div>
              <p class="text-gray-600">Email</p>
              <p class="">{{ (patient$ | async)?.email }}</p>
            </div>
          </div>
          <hr class="w-9/12 my-4 mx-auto">
          <div>
            <p class="text-gray-600">Address</p>
            <p class="">{{ (patient$ | async)?.address }}</p>
          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Visits">
      <ng-template matTabContent>
        <div class="flex flex-col p-7">

          <patient-history-visits-appointment [layoutDirection]="'left'"></patient-history-visits-appointment>
          <patient-history-visits-appointment [layoutDirection]="'right'"></patient-history-visits-appointment>
          <patient-history-visits-appointment [layoutDirection]="'left'"></patient-history-visits-appointment>
          <patient-history-visits-appointment [layoutDirection]="'right'"></patient-history-visits-appointment>
          <patient-history-visits-appointment [layoutDirection]="'left'"></patient-history-visits-appointment>
          <patient-history-visits-appointment [layoutDirection]="'right'"></patient-history-visits-appointment>
          <patient-history-visits-appointment [layoutDirection]="'left'"></patient-history-visits-appointment>
          <patient-history-visits-appointment [layoutDirection]="'right'"></patient-history-visits-appointment>
          <patient-history-visits-appointment [layoutDirection]="'left'"></patient-history-visits-appointment>
          <patient-history-visits-appointment [layoutDirection]="'right'"></patient-history-visits-appointment>
          <patient-history-visits-appointment [layoutDirection]="'left'"></patient-history-visits-appointment>
          <patient-history-visits-appointment [layoutDirection]="'right'"></patient-history-visits-appointment>
          <patient-history-visits-appointment [layoutDirection]="'left'"></patient-history-visits-appointment>
          <patient-history-visits-appointment [layoutDirection]="'right'"></patient-history-visits-appointment>
          <patient-history-visits-appointment [layoutDirection]="'left'"></patient-history-visits-appointment>
          <patient-history-visits-appointment [layoutDirection]="'right'"></patient-history-visits-appointment>
          <patient-history-visits-appointment [layoutDirection]="'left'"></patient-history-visits-appointment>
          

          
        </div>
      </ng-template>
       

    </mat-tab>
    <mat-tab label="Descriptions">
      Descriptions ddd
    </mat-tab>

    <mat-tab label="More Info">
      More Informations
    </mat-tab>
  </mat-tab-group>







  <div></div>
  {{ (patient$ | async)?.allergies }}
  {{ (patient$ | async)?.familyMedicalHistory }}
  {{ (patient$ | async)?.pastMedicalHistory }}
  {{ (patient$ | async)?.socialHistory }}

</div>