<h2 mat-dialog-title>New Appointment</h2>
<mat-dialog-content>


  <form [formGroup]="newAppointmentForm" (ngSubmit)="onSubmit()" class="flex flex-col">
    <!-- -------------------------Patient Name------------------------- -->
    <div class="patient-name flex items-center gap-3">
      <mat-form-field appearance="outline" class="grow mt-8">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="patientID" [matAutocomplete]="auto">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)"
          [displayWith]="getFullNameForDisplay.bind(this)">
          @for (option of filteredOptions; track option) {
          <mat-option [value]="option.id">
            {{ option.firstName }} {{ option.lastName }} <span style="font-size: 0.7em;">{{'&nbsp;&nbsp;&nbsp;&nbsp;' +
              option.primaryContact}}</span>
          </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <button mat-mini-fab aria-label="Example icon button with a home icon"
        class="rounded-full flex items-center justify-center p-1 shadow-md  bg-[#03a9f466] hover:bg-[#35BEFD]"
        type="button" (click)="openNewPatientFormDialog()">
        <mat-icon>person_add</mat-icon>
      </button>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="dp" formControlName="date">
      @if (!newAppointmentForm.get('date')?.valid) {
      <mat-hint>MMMM Do, YYYY</mat-hint>
      }
      <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>

    <!--
    <div style="display: flex; border-radius: 4px; border: 1px solid gray; padding: 10px;">
      <input type="time" formControlName="appointmentTime" class="grow outline-none border-none font-sans text-lg">
    </div>
    -->
    <mat-form-field appearance="outline">
      <mat-label>Time</mat-label>
      <mat-select formControlName="time">
        @for (suggestion of unbookedTimes; track suggestion) {
        <mat-option [value]="suggestion.value">{{suggestion.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="grow mt-8">
      <mat-label>Reason For Visit</mat-label>
      <input type="text" matInput formControlName="reasonForVisit">
    </mat-form-field>


    <div class="flex flex-wrap">
      <mat-checkbox formControlName="isUrgent" labelPosition="before" color="`red`">Is Urgent?</mat-checkbox>
      <span class="w-12"></span>
      <mat-checkbox formControlName="paid" labelPosition="before" color="`red`">Paid?</mat-checkbox>
      <span class="hidden lg:w-12"></span>
      <mat-checkbox formControlName="patientInClinic" labelPosition="before" color="`red`">Patient in
        Clinic?</mat-checkbox>
    </div>



    <div class="flex justify-center">
      <button mat-raised-button color="primary" type="submit" [disabled]="!newAppointmentForm.valid"
        class="w-28">Confirm</button>
    </div>

  </form>

</mat-dialog-content>
<!-- <mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</mat-dialog-actions> -->
