<div class="app-wrapper">
  <header> <app-top-bar></app-top-bar> </header>
  <main [class.sidebar-opend]="isOpen" class="h-full flex flex-col m-0">


    <!-- bottom-bar button -->
    <div>
      <button [class.toggled]="isOpen"
        class="bottom-bar-toggle-btn rounded-full flex items-center justify-center p-2 shadow-md z-20" mat-icon-button
        aria-label="Expand or hide sidebar" (click)="openBottomSheet()"
        style="background: hsl(198.67deg 97.57% 48.43% / 40%);">
        <mat-icon *ngIf="isOpen">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="!isOpen">keyboard_arrow_up</mat-icon>
      </button>
    </div>


    <router-outlet></router-outlet>
  </main>
</div>
