<img src="assets/images/sasun-bughdaryan-RlIppR1I3E8-unsplash.jpg" class="object-cover h-64 w-screen">

<main [class.sidebar-opend]="isOpen" class="flex flex-col	gap-y-2">


  <div class="side-bar-container shadow-sm" [class.open]="isOpen">
    <div class="layered-backgrounds"></div>
    <div class="close-side-bar-btn pt-20">
      <span class="side-bar-close-btn-spacer"></span>
      <button color="primary"  mat-icon-button aria-label="Close or hide sidebar" (click)="toggleSidebar()">
        <mat-icon class="material-icons-outlined">close</mat-icon>
      </button>
    </div>
    <app-side-bar></app-side-bar>
  </div>

  
  <!-- side-bar button -->
  <div>
    <button [class.toggled]="isOpen" class="side-bar-toggle-btn rounded-full flex items-center justify-center p-2 scale-150 shadow-md z-20" mat-icon-button aria-label="Expand or hide sidebar" (click)="toggleSidebar()" style="background: hsl(198.67deg 97.57% 48.43% / 40%);">
      <mat-icon *ngIf="!isOpen">chevron_right</mat-icon>
      <!-- <mat-icon *ngIf="!isOpen" class="material-icons-outlined">chevron_right</mat-icon> -->
      <mat-icon *ngIf="isOpen">chevron_left</mat-icon>
      <!-- <mat-icon *ngIf="isOpen" class="material-icons-outlined">chevron_left</mat-icon> -->
    </button>
  </div>


  <!-- Add Appointment Button -->
  <div class="fixed right-10 bottom-10 z-10">
    <button mat-icon-button aria-label="Add Appointment" class="rounded-full flex items-center justify-center p-2 scale-150" (click)="openDialog('500ms', '500ms')" style="background: hsl(198.67deg 97.57% 48.43% / 40%);">
      <mat-icon>format_list_bulleted_add</mat-icon>
    </button>
  </div>

  <!-- -------------------- progress-container -------------------- -->
  <div class="text-base my-4 mx-12 p-4 rounded-2xl flex" style="background: linear-gradient(90deg, hsl(180deg 28% 86% / 90%), hsl(190deg 31.03% 88.63%));">
    <div class="w-full self-center">
      <div class="flex justify-between">
        <p>12:00 PM</p>
        <p>?</p>
        <p>04:00 PM</p>
      </div>
      <mat-progress-bar class="prg-bar" mode="determinate" [value]="firstPeriodValue"></mat-progress-bar>
    </div>
    <span style="width: 15mm;"></span>
    <div class="w-full self-center">
      <div class="flex justify-between">
        <p>05:00</p>
        <p>?</p>
        <p>10:00 PM</p>
      </div>
      <mat-progress-bar class="prg-bar" mode="determinate" [value]="secondPeriodValue"></mat-progress-bar>
    </div>
  </div>

  <app-clock></app-clock>


  <div cdkDropList class="rounded-2xl m-8 px-1 patient-schedule-entries bg-white" (cdkDropListDropped)="drop($event)">
    @for (movie of movies; track movie; let idx = $index) {
      <div class="patient-schedule-entry" cdkDrag>
        <div class="patient-schedule-entry-placeholder" *cdkDragPlaceholder></div>
        <!-- {{movie}} -->
        @if (idx > 0) {
          <patient-schedule-entry></patient-schedule-entry>
        } @else {
          <patient-schedule-current-entry></patient-schedule-current-entry>
        }
      </div>
    }

  </div>


</main>