<form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()" #formDirective="ngForm" class="flex flex-col gap-2 p-2">
  <div formArrayName="SAT" class="mb-4 mx-5 p-4 rounded-md day-cont">
    <p class="text-center">Saturday</p>
    <div class="flex flex-wrap">
      @for (controlItem of getControls('SAT'); track trackByFunc; let i = $index) {
      <div [class.bottomborder]="i % 2 !== 0" class="flx-two-col flex flex-col">
        <label for="time-{{ i }}">{{ 0 ? "Interval Start Time" : (i % 2 === 0 ? "Interval Start Time" : "Interval End
          Time") }}:</label>
        <input id="time-{{ i }}" type="time" [formControlName]="i" class="m-2 p-2 time-input-field">
      </div>

      @if(i % 2 !== 0) {
      <hr class="w-4/5">
      }
      }
    </div>
    <div class="flex justify-evenly content-center">
      @if(getControls('SAT').length >= 2){
      <button mat-raised-button type="button" (click)="onRemoveLastIntervalControl('SAT')">Remove Interval</button>
      }
      <button mat-raised-button type="button" (click)="onAddIntervalControls('SAT')">Add Interval</button>
    </div>
  </div>

  <div formArrayName="SUN" class="mb-4 mx-5 p-4 rounded-md day-cont">
    <p class="text-center">Sunday</p>
    <div class="flex flex-wrap">
      @for (controlItem of getControls('SUN'); track trackByFunc; let i = $index) {
      <div class="flx-two-col flex flex-col">
        <label for="time-{{ i }}">{{ 0 ? "Interval Start Time" : (i % 2 === 0 ? "Interval Start Time" : "Interval End
          Time") }}:</label>
        <input id="time-f-{{ i }}" type="time" [formControlName]="i" class="m-2 p-2 time-input-field">
      </div>
      @if(i % 2 !== 0) {
      <hr class="w-4/5">
      }
      }
    </div>
    <div class="flex justify-evenly content-center">
      @if(getControls('SUN').length >= 2){
      <button mat-raised-button type="button" (click)="onRemoveLastIntervalControl('SUN')">Remove Interval</button>
      }
      <button mat-raised-button type="button" (click)="onAddIntervalControls('SUN')">Add Interval</button>
    </div>
  </div>

  <div formArrayName="MON" class="mb-4 mx-5 p-4 rounded-md day-cont">
    <p class="text-center">Monday</p>
    <div class="flex flex-wrap">
      @for (controlItem of getControls('MON'); track trackByFunc; let i = $index) {
      <div class="flx-two-col flex flex-col">
        <label for="time-{{ i }}">{{ 0 ? "Interval Start Time" : (i % 2 === 0 ? "Interval Start Time" : "Interval End
          Time") }}:</label>
        <input id="time-f-{{ i }}" type="time" [formControlName]="i" class="m-2 p-2 time-input-field">
      </div>
      @if(i % 2 !== 0) {
      <hr class="w-4/5">
      }
      }
    </div>
    <div class="flex justify-evenly content-center">
      @if(getControls('MON').length >= 2){
      <button mat-raised-button type="button" (click)="onRemoveLastIntervalControl('MON')">Remove Interval</button>
      }
      <button mat-raised-button type="button" (click)="onAddIntervalControls('MON')">Add Interval</button>
    </div>
  </div>

  <div formArrayName="TUE" class="mb-4 mx-5 p-4 rounded-md day-cont">
    <p class="text-center">Tuesday</p>
    <div class="flex flex-wrap">
      @for (controlItem of getControls('TUE'); track trackByFunc; let i = $index) {
      <div class="flx-two-col flex flex-col">
        <label for="time-{{ i }}">{{ 0 ? "Interval Start Time" : (i % 2 === 0 ? "Interval Start Time" : "Interval End
          Time") }}:</label>
        <input id="time-f-{{ i }}" type="time" [formControlName]="i" class="m-2 p-2 time-input-field">
      </div>
      @if(i % 2 !== 0) {
      <hr class="w-4/5">
      }
      }
    </div>
    <div class="flex justify-evenly content-center">
      @if(getControls('TUE').length >= 2){
      <button mat-raised-button type="button" (click)="onRemoveLastIntervalControl('TUE')">Remove Interval</button>
      }
      <button mat-raised-button type="button" (click)="onAddIntervalControls('TUE')">Add Interval</button>
    </div>
  </div>

  <div formArrayName="WED" class="mb-4 mx-5 p-4 rounded-md day-cont">
    <p class="text-center">Wednesday</p>
    <div class="flex flex-wrap">
      @for (controlItem of getControls('WED'); track trackByFunc; let i = $index) {
      <div class="flx-two-col flex flex-col">
        <label for="time-{{ i }}">{{ 0 ? "Interval Start Time" : (i % 2 === 0 ? "Interval Start Time" : "Interval End
          Time") }}:</label>
        <input id="time-f-{{ i }}" type="time" [formControlName]="i" class="m-2 p-2 time-input-field">
      </div>
      @if(i % 2 !== 0) {
      <hr class="w-4/5">
      }
      }
    </div>
    <div class="flex justify-evenly content-center">
      @if(getControls('WED').length >= 2){
      <button mat-raised-button type="button" (click)="onRemoveLastIntervalControl('WED')">Remove Interval</button>
      }
      <button mat-raised-button type="button" (click)="onAddIntervalControls('WED')">Add Interval</button>
    </div>
  </div>

  <div formArrayName="THU" class="mb-4 mx-5 p-4 rounded-md day-cont">
    <p class="text-center">Thursday</p>
    <div class="flex flex-wrap">
      @for (controlItem of getControls('THU'); track trackByFunc; let i = $index) {
      <div class="flx-two-col flex flex-col">
        <label for="time-{{ i }}">{{ 0 ? "Interval Start Time" : (i % 2 === 0 ? "Interval Start Time" : "Interval End
          Time") }}:</label>
        <input id="time-f-{{ i }}" type="time" [formControlName]="i" class="m-2 p-2 time-input-field">
      </div>
      @if(i % 2 !== 0) {
      <hr class="w-4/5">
      }
      }
    </div>
    <div class="flex justify-evenly content-center">
      @if(getControls('THU').length >= 2){
      <button mat-raised-button type="button" (click)="onRemoveLastIntervalControl('THU')">Remove Interval</button>
      }
      <button mat-raised-button type="button" (click)="onAddIntervalControls('THU')">Add Interval</button>
    </div>
  </div>

  <div formArrayName="FRI" class="mb-4 mx-5 p-4 rounded-md day-cont">
    <p class="text-center">Friday</p>
    <div class="flex flex-wrap">
      @for (controlItem of getControls('FRI'); track trackByFunc; let i = $index) {
      <div class="flx-two-col flex flex-col">
        <label for="time-{{ i }}">{{ 0 ? "Interval Start Time" : (i % 2 === 0 ? "Interval Start Time" : "Interval End
          Time") }}:</label>
        <input id="time-f-{{ i }}" type="time" [formControlName]="i" class="m-2 p-2 time-input-field">
      </div>
      @if(i % 2 !== 0) {
      <hr class="w-4/5">
      }
      }
    </div>
    <div class="flex justify-evenly content-center">
      @if(getControls('FRI').length >= 2){
      <button mat-raised-button type="button" (click)="onRemoveLastIntervalControl('FRI')">Remove Interval</button>
      }
      <button mat-raised-button type="button" (click)="onAddIntervalControls('FRI')">Add Interval</button>
    </div>
  </div>

  <div class="flex justify-center content-center">
    <button mat-icon-button aria-label="Save" type="submit"
      [disabled]="!scheduleForm.touched || !scheduleForm.valid || isSubmitting">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button aria-label="Exit" type="button" (click)="exitEdit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

</form>
