<div class="p-2 flex flex-col md:flex-row justify-center content-center gap-4">
  <!--<img src="assets/images/sasun-bughdaryan-RlIppR1I3E8-unsplash.jpg" class="object-cover h-64 w-screen">-->

  <a routerLink="/clinics"
    class="w-56 h-56 drop-shadow-2xl flex content-center justify-center items-center glass-background no-underline">
    Clinics
  </a>
  <a routerLink="."
    class="w-56 h-56 drop-shadow-2xl flex content-center justify-center items-center glass-background no-underline">
    Pharmacies
  </a>

</div>
