<!--<nav>
    <a href="/html/">HTML</a> |
    <a href="/css/">CSS</a> |
    <a href="/js/">JavaScript</a> |
    <a href="/jquery/">jQuery</a>
  </nav>-->
<div class="flex">
  @if(router.url !== '/auth' && userSignal()) {
  <div>
    <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        Logout
        <mat-icon>logout</mat-icon>
      </button>
    </mat-menu>
    <!--<button mat-icon-button color="primary" aria-label="Account Drop-down Menu" [cdkMenuTriggerFor]="menu"
      class="account-menu-trigger !bg-[#09b3ce33] hover:!bg-[#6dc4df]">
      <mat-icon>account_circle</mat-icon>
    </button>
    <ng-template #menu>
      <div class="account-menu" cdkMenu>
        <button class="account-menu-item" (click)="logout()" cdkMenuItem>Sign out <mat-icon>log</mat-icon></button>
        ut
      </div>
</ng-template>-->
  </div>
  } @else {
  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"
    class="!bg-[#09b3ce33] hover:!bg-[#6dc4df]" (click)="navToAuth()">
    <mat-icon>login</mat-icon>
  </button>

  }
</div>
