:host {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px;
}

.account-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: rgba(255, 255, 255);
  padding: 6px 0;
}

.account-menu-item,
.account-menu-trigger {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.account-menu-item {
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}

.account-menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.account-menu-item:active {
  background-color: rgb(170, 170, 170);
}
